NVIDIA_API_KEY=REDACTED
OPENAI_API_KEY=REDACTED
NGC_API_KEY=REDACTED

#Adjust ports if needed
FRONTEND_PORT=9100
BACKEND_PORT=8100

#Change default user and pass if needed 
GRAPH_DB_USERNAME=neo4j
GRAPH_DB_PASSWORD=REDACTED
MILVUS_DB_HOST=milvus-standalone
MILVUS_DB_GRPC_PORT=19530
MILVUS_DB_PORT=19530
MILVUS_HOST=milvus-standalone
MILVUS_PORT=19530
MILVUS_URI=http://milvus-standalone:19530
MILVUS_ADDRESS=http://milvus-standalone:19530
APP_VECTORSTORE_URL=http://milvus-standalone:19530

#Update paths local paths to config files if needed. If it appears VSS is not using these configurations, then change the relative paths to absolute paths. 
CA_RAG_CONFIG=/opt/nvidia/via/default_config.yaml
GUARDRAILS_CONFIG=/opt/nvidia/via/guardrails_config
CA_RAG_CONFIG_HOST=/home/steve/video-search-and-summarization/deploy/docker/remote_vlm_deployment/config.yaml
GUARDRAILS_CONFIG_HOST=/home/steve/video-search-and-summarization/deploy/docker/remote_vlm_deployment/guardrails
EXAMPLE_STREAMS_DIR=/home/steve/video-search-and-summarization/examples/training_notebooks/lab_2/assets

ENABLE_AUDIO=false

DISABLE_CV_PIPELINE=true
INSTALL_PROPRIETARY_CODECS=false 

RIVA_ASR_SERVER_URI="grpc.nvcf.nvidia.com"
RIVA_ASR_GRPC_PORT=443
RIVA_ASR_SERVER_IS_NIM=true
RIVA_ASR_SERVER_USE_SSL=true
RIVA_ASR_SERVER_API_KEY=REDACTED
RIVA_ASR_SERVER_FUNC_ID="d8dd4e9b-fbf5-4fb0-9dba-8cf436c8d965"

#Set VLM to OpenAI model 
VLM_MODEL_TO_USE=openai-compat
MODE=development
VIA_VLM_OPENAI_MODEL_DEPLOYMENT_NAME=REDACTED
VLM_BATCH_SIZE=1
VLM_DEFAULT_NUM_FRAMES_PER_CHUNK=8
NUM_CV_CHUNKS_PER_GPU=1
# VIA_VLM_OPENAI_MODEL_DEPLOYMENT_NAME=gpt-4o
VIA_VLM_ENDPOINT=https://api.openai.com/v1/chat/completions

#Adjust misc configs if needed
DISABLE_GUARDRAILS=false
NVIDIA_VISIBLE_DEVICES=0

#added with chatgpt
DISABLE_CV_PIPELINE=true
DISABLE_GPU_DECODE=true
ENABLE_CPU_DECODE=true
INSTALL_PROPRIETARY_CODECS=true
GST_PLUGIN_FEATURE_RANK=nvv4l2decoder:0,nvv4l2decoder2:0
# Use the committed custom image to preserve in-container changes.
VIA_IMAGE=vss-engine:via-server-1-custom
VIA_SRC_DIR=/home/steve/video-search-and-summarization/src/vss-engine
